/* Some assumptions */
* {
   margin: 0;
   padding: 0;

   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html, body { height: auto; }
h1, h2, h3, h4, h5, h6 {  margin-top:.6em;}
h2 { font-size: 125%; margin-bottom: .5em; }
p { margin: 1.5em 0; }

body {
   background-color: #FFFFFF;
   color: #3c3c3c;
   font-family: "Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei","sans-serif";
   -webkit-font-smoothing: antialiased;
   text-align: center;
}

/* Gentle links */
a { color: #3498DB; text-decoration: none; }
a:hover { color: #2980B9; }

/* The blog posts archive, a long list */
.posts {
   list-style-type: none;
   margin-bottom: 2em;
}

.posts li {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   line-height: 2em;
}

.posts span {
   color: #aaa;
   font-family: Monaco, "Courier New", monospace;
   font-size: 75%;
   margin-right: 1em;
}

/* Don't display date if screen is small */
@media only screen and (max-width: 400px) {
   .posts li span { display: none; }
}

main {
   font-size: 16px;
   line-height: 1.8em;
   text-align: left;
   margin: 2em auto 0.5em;
   max-width: 42em;
   padding-left: 18px;
   padding-right: 18px;
}

header a {
   font-weight: bold;
   text-decoration: none;
}

/* the website's name on the header */
.title {
   display: inline-block;
   line-height: 0.5em;
}

.title a {
   color: #e74c3c;
}

.title a:hover {
   color: #000;
}

.title {
   margin-top: .4em;
}

.meta {
   color: #aaa;
}

code,
pre {
   font-family: Consolas, "Ubuntu Mono", Monaco, "Courier New", monospace;
}

code {
   padding: 1px 4px;
   border: 0;
   background-color: #D6DBDF;
   border-radius: 4px;
   color: #2C3E50;
   font-size: 90%;
}

pre {
   display: block;
   margin: 0 0 14px;
   padding: 10px 20px;
   font-size: 15px;
   line-height: 1.4;
   white-space: pre;
   white-space: pre-wrap;
   word-break: break-all;
   word-wrap: break-word;
   background-color: #eee;
}
pre code {
   padding: 0;
   font-size: 80%;
   color: inherit;
   background-color: transparent;
}
.highlight {
   margin-bottom: 15px;
   border-radius: 4px;
}
.highlight pre {
   margin-bottom: 0;
}

blockquote {
   padding: 0px 18px;
   margin: 15px 0;
   border-left: 4px solid rgba(52, 73, 94, 0.85);
}

blockquote p {
   margin-bottom: 0;
   color: #7a7a7a;
}

article {
   overflow: auto;
   word-wrap: break-word;
}

article ul, article ol {
   margin-left: 1.35em;
}

/* Rounded corners, aligned, etc. */
article img {
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   text-align: center;

   max-width: 100%;
   vertical-align: middle;
   page-break-inside: avoid;
}

footer {
   height: 2.5em;
}

footer #date {
   float: right;
}

footer #return,
footer #date {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

hr {
   border: 0;
   border-bottom: 1px dashed #cfcfcf;
   margin: 30px 0;
}

/* Remove the huge gap at the first paragraph */
#home p.intro {
   margin-top: 0px;
}

.gist {
   font-size: 50%;
}
