/* Some assumptions */
* {
   margin: 0;
   padding: 0;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html {
   font-size: 17px;
}

html, body { height: auto; }

body {
   background-color: #FFFFFF;
   color: #444444;
   font-family: "Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei","sans-serif";
   -webkit-font-smoothing: antialiased;
}

header {
   border-bottom: 1px solid #EEEEEE;
   margin-bottom: 20px;
}

header h3 {
   padding: 0;
   margin: 5px 0;
   border: 0;
}

header a {
   font-weight: bold;
   text-decoration: none;
}

header .container {
   width: 65%;
   margin: 0 auto;
   padding: 15px 0;
}

header .container span {
   margin-left: 20px;
}

footer {
   padding-bottom: 20px;
}

/* Gentle links */
a { color: #3498DB; text-decoration: none; }
a:hover { color: #2980B9; }

/* The blog posts archive, a long list */
.posts {
   list-style-type: none;
   margin-bottom: 2em;
}

.posts li {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   line-height: 2em;
}

.posts span {
   color: #aaa;
   font-family: Monaco, "Courier New", monospace;
   font-size: 75%;
   margin-right: 1em;
}

/* Don't display date if screen is small */
@media only screen and (max-width: 400px) {
   .posts li span { display: none; }
}

main {
   line-height: 1.2em;
   /*background-color: #f7f7f9;*/
   border-radius: 10px;
   /*border: 1px solid #e1e1e8;*/
   width: 65%;
   padding: 20px 0;
   margin: 0 auto;
}

/* the website's name on the header */

.meta {
   color: #aaa;
}

code,
pre {
   font-family: Consolas, "Ubuntu Mono", Monaco, "Courier New", monospace;
}

code {
   padding: 1px 4px;
   border: 0;
   background-color: #EEEEEE;
   color: #2C3E50;
   border: 1px solid #CCCCCC;
   border-radius: 3px;
   margin: 0 4.5px;
   font-size: 95%;
}

pre {
   display: block;
   margin: 0 0 14px;
   padding: 10px 20px;
   line-height: 1.4;
   white-space: pre;
   white-space: pre-wrap;
   word-break: break-all;
   word-wrap: break-word;
   background-color: #eee;
}

pre code {
   color: inherit;
   background-color: transparent;
   border: 0;
}

.highlight {
   margin-bottom: 15px;
   border-radius: 4px;
}
.highlight pre {
   margin-bottom: 0;
}

article {
   overflow: auto;
   word-wrap: break-word;
}

article ul, article ol {
   margin-left: 1.35em;
}

/* Rounded corners, aligned, etc. */
article img {
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   text-align: center;

   max-width: 100%;
   vertical-align: middle;
   page-break-inside: avoid;
}

hr {
   border: 0;
   border-bottom: 1px dashed #cfcfcf;
   margin: 30px 0;
}

/* Remove the huge gap at the first paragraph */
#home p.intro {
   margin-top: 0px;
}

.gist {
   font-size: 50%;
   line-height: 1.5em;
}

h2, h3, h4 {
    color: #111111;
    font-weight: 400;
}

h2, h3, h4, h5 {
    margin-bottom: 25px;
    padding: 0;
}

p {
   margin: 10px 0 25px;
   line-height: 2em;
}

h2 {
   border-bottom: 3px solid #000000;
   padding-bottom: 10px;
}

h2 {
   margin-top: 10px;
   font-size:150%
}

h3 {
   margin-top: 25px;
   padding-bottom: 5px;
   border-bottom: 2px solid #000000;
   font-size:120%
}

h4 {
    font-size:100%
    font-variant:small-caps;

}
h5 {
    font-size:80%
    font-weight: 100;
}

h6 {
    font-size:80%
    font-weight: 100;
    color:red;
    font-variant:small-caps;
}

article ul {
   list-style-type: square;
   list-style-position: inside;
}

article li {
   line-height: 150%;
}

article blockquote {
    border-left:.5em solid #eee;
    padding: 0 1em;
    margin-left:0;
    max-width: 476px;
}
article blockquote  cite {
    line-height:20px;
    color:#bfbfbf;
}
article blockquote cite:before {
    content: '\2014 \00A0';
}

article blockquote p {  
    color: #666;
    max-width: 460px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
  /*box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);*/
}
table tr:hover {
  background: #f4f4f4;
}
table tr:hover td {
  color: #555;
}
table th, table td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
}
table th {
  background: #00cccc;
  color: #fff;
  text-transform: uppercase;
}
table th.last {
  border-right: none;
}